$blue: #028b8b
$orange: #FFC700

*
	margin: 0
	padding: 0
	font-family: 'Montserrat', sans-serif
	font-size: 14px
a
	text-decoration: none
	color: $blue
li
	list-style: none
.container
	margin: 0 auto
	width: 1400px
.header
	height: 80px
	padding: 20px 0	
	&__wrapper
		padding: 0 60px
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		img
			width: 80px
			height: 80px
	&__menu
		display: flex
		justify-content: space-between
		width: 600px
.gallery
	padding: 50px 0
	&__title
		font-size: 36px
		text-align: center
		color: $blue
	&__wrapper
		margin-top: 40px
		display: grid
		grid-template: repeat(5, 400px) / repeat(4, 300px)
		justify-content: center
		gap: 30px
	&__photo
		width: 100%
		height: 100%
		border-radius: 10px
		img
			width: 100%
			height: 100%
			border-radius: 10px
.footer
	background: #EDEDED
	padding: 30px 0
	&__wrapper
		display: flex
		justify-content: space-between
		padding: 0 60px
	&__content
		display: flex
		align-items: center
		gap: 110px
	&__photo
		width: 80px
		height: 100px
		img
			width: 100%
			height: 100%
	&__menu
		list-style: none
	&__link
		margin-bottom: 8px
		a
			text-decoration: none
			color: #000
	&__number
		margin-bottom: 6px
		img
			margin-right: 5px
	&__social
		display: flex
		flex-direction: column
		gap: 16px
		&_links
			display: flex
			align-items: center
			img
				margin-right: 10px
	