@import 'base/_variables'
@import 'base/_mixins'

*
	margin: 0
	padding: 0
	box-sizing: border-box
	//border: 1px solid blue
	
.container
	//border: 1px solid red
	max-width: 1400px
	margin: 0 auto

a
	//text-decoration: none
	color: $blue
ul, ol, li
	list-style: none

img
	vertical-align: top

body
	font-family: 'Montserrat', sans-serif
	background-color: #fff
	font-size: 18px
	font-weight: 500

.hamburger
	position: absolute
	top: 11%
	right: 10%
	height: 30px
	display: none
	flex-direction: column
	justify-content: space-between
	align-items: flex-end
	z-index: 100
	span
		position: absolute
		display: block
		width: 40px
		height: 3px
		background: #fff
		transition: 0.5s all
	span.short
		top: -15px
		&.active
			transform: rotate(45deg)
			top: 0
	span.short2
		top: 15px
		&.active
			transform: rotate(-45deg)
			top: 0
	span.long 
		width: 45px
		&.active
			display: none

@import 'blocks/_promo'
@import 'blocks/_buttons'
@import 'blocks/_titles'
@import 'blocks/_kinds'
@import 'blocks/_gallery-slider'
@import 'blocks/_price'
@import 'blocks/_timetable'
@import 'blocks/_faq'
//@import 'blocks/_callback'
@import 'blocks/_footer'

@import 'base/_media-main'