@import 'base/_variables'
@import 'base/_mixins'

*
	margin: 0
	padding: 0
	box-sizing: border-box
	//border: 1px solid blue
	
.container
	//border: 1px solid red
	max-width: 1400px
	margin: 0 auto

a
	//text-decoration: none
	color: $blue
ul, ol, li
	list-style: none

img
	vertical-align: top

body
	font-family: 'Montserrat', sans-serif
	background-color: #fff
	font-size: 18px
	font-weight: 500

@import 'blocks/_promo'
@import 'blocks/_buttons'
@import 'blocks/_titles'
@import 'blocks/_kinds'
@import 'blocks/_gallery-slider'
@import 'blocks/_price'
@import 'blocks/_timetable'
@import 'blocks/_callback'
@import 'blocks/_footer'

@import 'base/_media-main'