@media (max-width: 1421px)
	.container 
		max-width: 1200px
	.header
		padding: 0 40px
	.promo
		&__wrapper
			padding: 0 40px
			padding-top: 135px
	.calendar
		&__wrapper
			padding-right: 0	
	.footer
		&__wrapper
			padding: 0 60px

@media (max-width: 1201px)
	.container 
		max-width: 990px

@media (max-width: 992px)
	.container 
		max-width: 769px

@media (max-width: 768px)
	.container 
		max-width: 570px

@media (max-width: 576px)
	.container 
		max-width: 420px

@media (max-width: 421px)
	.container 
		max-width: 320px