.kinds
	padding-top: 100px
	min-height: 500px
	&__wrapper
		margin-top: 50px
		display: grid
		justify-content: center
		grid-template: 210px 150px / repeat(2, 550px)
		grid-auto-rows: auto
		row-gap: 30px
		column-gap: 40px
	&__item
		display: flex
		flex-direction: column
		&_icon
			position: relative
			width: 75px
			height: 75px
			@include circle
		&_content
			margin-left: 20px
		&_descr
			font-size: 14px
			font-weight: 500
			margin-top: 10px
			line-height: 17px
			span
				color: $blue
				font-weight: 700
	&__descr
		margin-top: 60px
		font-size: 14px
		font-weight: 700
		text-align: center