.titles__block
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 140px
.title
	font-weight: 700
	font-size: 24px
	color: $blue
	&_kinds
		text-align: center
		font-size: 42px
		&-item
			font-size: 26px
			text-transform: uppercase
	&_calendar
		margin-top: 50px
	&_order
		margin-bottom: 60px